<html>
<body>
    <div class="login">
       <h1>Bank Customer Churn Prediction</h1>
   
       <form action="{{ url_for('predict_datapoint')}}" method="post">
        <!-- <h1>
            <legend>Student Exam Performance Prediction</legend>
        </h1> -->
        <div class="mb-3">
            <label class="form-label">Customer Id:</label>
            <input type="text" id="custid" name="custid" placeholder="Enter you Customer Id" required><br><br>
        </div>
        <div class="mb-3">
            <label class="form-label">Surname:</label>
            <input type="text" id="sname" name="sname" placeholder="Enter you Surname" required><br><br>
        </div>
        <div class="mb-3">
            <label class="form-label">Credit Score:</label>
            <input class="form-control" type="number" name="creditscore"
                placeholder="Enter your Credit score" min='0' max='1000' />
        </div>
        <div class="mb-3">
            <label class="form-label">Geography</label>
            <select class="form-control" name="geography" placeholder="Enter you location" required>
                <option class="placeholder" selected disabled value="">Select Location</option>
                <option value="France">
                    France
                </option>
                <option value="Spain">
                    Spain
                </option>
                <option value="Germany">
                    Germany
                
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Gender</label>
            <select class="form-control" name="gender" placeholder="Enter you Gender" required>
                <option class="placeholder" selected disabled value="">Select your Gender</option>
                <option value="male">
                    Male
                </option>
                <option value="female">
                    Female
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Age:</label>
            <input class="form-control" type="number" name="age"
                placeholder="Enter your Age" min='0' max='100' />
        </div>
        <div class="mb-3">
            <label class="form-label">Tenure:</label>
            <input class="form-control" type="number" name="tenure"
                placeholder="Enter your Tenure with bank" min='0' max='10' />
        </div>
        <div class="mb-3">
            <label class="form-label">Balance:</label>
            <input class="form-control" type="number" name="balance"
                placeholder="Enter your account balance" min='0' max='1000000000000' />
        </div>
        <div class="mb-3">
            <label class="form-label">Number of Products:</label>
            <input class="form-control" type="number" name="products"
                placeholder="Enter your no. of products with bank" min='1' max='4' />
        </div>
        <div class="mb-3">
            <label class="form-label">Has Card:</label>
            <input class="form-control" type="number" name="card"
                placeholder="Enter 0 if no credit card else 1" min='0' max='1' />
        </div>
        <div class="mb-3">
            <label class="form-label">Is active member:</label>
            <input class="form-control" type="number" name="active"
                placeholder="Enter 0 if not active else 1" min='0' max='1' />
        </div>
        <div class="mb-3">
            <label class="form-label">Salary:</label>
            <input class="form-control" type="number" name="salary"
                placeholder="Enter salary" min='0' max='10000000000' />
        </div>
        <div class="mb-3">
            <label class="form-label">Raised a complaint?:</label>
            <input class="form-control" type="number" name="complain"
                placeholder="Enter 0 if no complaint else 1" min='0' max='1' />
        </div>
        <div class="mb-3">
            <label class="form-label">SatisfactionScore:</label>
            <input class="form-control" type="number" name="satscore"
                placeholder="Enter score 1-5" min='1' max='5' />
        </div>
        <div class="mb-3">
            <label class="form-label">Card Type:</label>
            <select class="form-control" name="cardtype"
                placeholder="Enter you Card Type" required>
                <option class="placeholder" selected disabled value="">Select Card Type</option>
                <option value="DIAMOND">
                    DIAMOND
                </option>
                <option value="GOLD">
                    GOLD
                </option>
                <option value="PLATINUM">
                    PLATINUM
                </option>
                <option value="SILVER">
                    SILVER
                </option>
                
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Points Earned:</label>
            <input class="form-control" type="number" name="points"
                placeholder="Poinst Earned" min='0' max='1000' />
        </div>
        
        <div class="mb-3">
            <input class="btn btn-primary" type="submit" value="Predict Churn" required />
        </div>
    </form>
    <h2>
       THE  prediction is {{results}}
    </h2>
   <body>
</html>